{% extends "base.html" %}

{% block title %}
    Sponsors
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="register-background">
            <div class="filter-black"></div>
                <div class="container">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="text-center housekeeping-well" >

                            <h3 class="animated infinite pulse">Sponsors</h3>
                            <section>
                                All about sponsors.
                            </section>

                        </div>
                    </div>
                </div>

            <!-- Bottom Text -->
            <div class="footer register-footer text-center">
                    <h6 style="color: white;">&copy; Techvaganza 2k16</h6>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

    <script src={{ url_for('static', filename='js/ct-paper.js') }}></script>

{% endblock %}


</html>
