flask
flask-login
flask-openid
flask-mail
flask-sqlalchemy
SQLAlchemy
flask-migrate
sqlalchemy-migrate
flask-whooshalchemy
flask-wtf
Flask-OAuth
Flask-Principal
Flask-Script
Flask-Security
Flask-Social
mailgun
MarkupSafe
mysqlclient
oauth2
passlib
pathlib
python-openid
w3lib
Werkzeug
wheel
Whoosh
WTForms
flask_debugtoolbar
