{% extends "base.html" %}

{% block title %}
  Workshops
{% endblock %}

{% block content %}

    <div class="wrapper">
        <div class="register-background">
            <div class="filter-black"></div>
                <div class="container">
                    <div class="col-md-12">
                        <div class="housekeeping-well" >
                            <section class="animated slideInUp">
                                <ol class="breadcrumb" style="background-color: rgba(0, 0, 0, 0.1); padding: 1%;">
                                  <li><a href="{{ url_for('general.index') }}">Home</a></li>
                                  <li class="active">Workshops</li>
                                </ol>
                                <hr>
                                <br>

                                {% for event in pagination.items %}
                                  <div class="" style="background-color: rgba(0, 0, 0, 0.1); padding: 1%;">
                                    <a href="{{ url_for('general.workshop', slug = worshop.slug) }}">
                                        <h3 style="color: #51658e">{{ workshop.title }}</h3>
                                    </a>
                                    <p style="color: #f2efe7">
                                        <em>{{ worshop.description }}</em>
                                    </p>
                                    <br>
                                  </div>
                                  <br>
                                {% endfor %}

                                <ul class="pagination">
                                    {% if pagination.has_prev %}
                                        <a href="{{ url_for('general.events', page = pagination.prev_num) }}">Prev &laquo;</a>
                                    {% endif %}

                                    {%- for page in pagination.iter_pages() %}
                                        {% if page %}
                                              {% if page != pagination.page %}
                                                    <a href="{{ url_for('general.events', page = page) }}">{{ page }}</a>
                                              {% else %}
                                                <strong>{{ page }}</strong>
                                              {% endif %}
                                        {% else %}
                                              <span class=ellipsis>…</span>
                                        {% endif %}
                                    {%- endfor %}

                                    {% if pagination.has_next %}
                                        <a href="{{ url_for('general.events', page = pagination.next_num) }}">Next &raquo;</a>
                                    {% endif %}
                                </ul>
                            </section>
                        </div>
                    </div>
                </div>

            <!-- Bottom Text -->
            <br><br><br><br><br>
            <div class="footer register-footer text-center">
                <h6 style="color: white;">&copy; Techvaganza 2k16</h6>
            </div>
        </div>
      </div>

{% endblock %}

{% block scripts %}
  <script src={{ url_for('static', filename='js/ct-paper.js') }}></script>
{% endblock %}