@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  background: #111;
  width: 100%;
  height: 100%;
  overflow-x: : hidden;
}
.canvas {
  width: 100%;
  height: 100%;
  clear: both;
  overflow: hidden;
  z-index: -1;
}
.star {
  position: absolute;
  opacity: 1;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #00f6ff;
  -webkit-box-shadow: 0 0 5px rgba(0, 246, 255, 0.75);
  -moz-box-shadow: 0 0 5px rgba(0, 246, 255, 0.75);
  box-shadow: 0 0 5px rgba(0, 246, 255, 0.75);
}
.streak {
  width: 10px;
  height: 150px;
  background: #fff;
  border-radius: 100%;
  position: relative;
  top: 100px;
  left: 100px;
  -webkit-box-shadow: 0 0 25px rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.75);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: -moz-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(25%, #ffffff), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.75) 25%, rgba(255, 255, 255, 0) 100%);
}
.cosmic-container {
  position: relative;
  width: 97px;
  height: 97px;
  margin: 75px auto 0;
}
.cosmic-container > div {
  position: absolute;
  background-position: no-repeat;
}
.c-green,
.c-red {
  background-image: url('http://cosmicstrawberry.com/images/c-green.png');
  width: 80px;
  height: 97px;
  left: -230px;
  z-index: 6;
}
.o-orange {
  background-image: url('http://cosmicstrawberry.com/images/o-orange.png');
  width: 97px;
  height: 97px;
  left: -140px;
  z-index: 5;
}
.s-pink {
  background-image: url('http://cosmicstrawberry.com/images/s-pink.png');
  width: 87px;
  height: 97px;
  left: -40px;
  z-index: 4;
}
.m-mint {
  background-image: url('http://cosmicstrawberry.com/images/m-mint.png');
  width: 130px;
  height: 97px;
  left: 30px;
  z-index: 3;
}
.i-orange {
  background-image: url('http://cosmicstrawberry.com/images/i-orange.png');
  width: 32px;
  height: 97px;
  left: 170px;
  z-index: 2;
}
.c-red {
  background-image: url('http://cosmicstrawberry.com/images/c-red.png');
  left: 210px;
  z-index: 1;
}
.strawberry-container {
  position: relative;
}
.strawberry-container p,
.coming-soon p {
  color: #afafaf;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 4em;
  letter-spacing: 20px;
  font-weight: 300;
  position: relative;
}
.coming-soon {
  position: relative;
}
.coming-soon p {
  font-size: 2em;
}
#fps {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.75);
  padding: 10px;
}
