{% extends "admin/base.html" %}

{% block title %}
    Events
{% endblock %}

{% block head %}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="http://techvaganza.org">Main Site</a></li>
        <li><a href="{{ url_for('adminDashboard') }}">Home</a></li>
        <li class="active">Events</li>
    </ol>

    <h1>Events</h1>
    <hr>

    <div class="row">
            <form method="POST" action="#" accept-charset="UTF-8" class="col-md-11">
                <div class="form-group ">
                   <label for="title">Title: </label>
                   <input class="form-control" name="title" type="text" id="title">

                </div>

                <div class="form-group ">
                   <label for="slug">Slug: </label>
                   <input class="form-control" name="slug" type="text" id="slug">

                </div>

                <div class="form-group ">
                   <label for="description">Description: </label>
                   <input class="form-control" name="description" type="text" id="description">
                </div>

                <div class="form-group ">
                   <label for="body">Body: </label>
                   <textarea class="form-control" rows="20" name="body" cols="50"></textarea>
                </div>

                <div class="form-group">
                   <input class="btn btn-success" type="submit" value="Upload Event">
                </div>
            </form>

    </div>
{% endblock %}
