{% extends "admin/base.html" %}

{% block title %}
  Notifications
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <form method='post' enctype=multipart/form-data>
        <div class="form-group">
          <label for="file">Notification PDF: </label>
          <input type="file" class="form-control" name="file">
        </div>
        <input type="submit" value="Upload Notification" class="btn btn-primary col-sm-offset-5 col-xs-offset-2">
      </form>
    </div>
  </div>

{% endblock %}
