{% extends "admin/base.html" %}

{% block title %}
    Registrations
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="http://techvaganza.org">Main Site</a></li>
        <li><a href="{{ url_for('adminDashboard') }}">Home</a></li>
        <li class="active">Registrations</li>
    </ol>

    <h1>Registrations</h1>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <td>Name</td>
                <td>College</td>
                <td>Batch</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.college }}</td>
                <td>{{ user.batch }}</td>
                <td><a class="btn btn-info" href="{{ url_for('adminDashboardViewRegistration', id=user.id) }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
