{% extends "admin/base.html" %}

{% block title %}
  Registrations
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <table class="table table-responsive table-striped table-hover">
        <tr>
          <th>Name</th>
          <td>{{ user.name }}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Cell</th>
          <td>{{ user.cell }}</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>{{ user.gender }}</td>
        </tr>
        <tr>
          <th>College</th>
          <td>{{ user.college }}</td>
        </tr>
        <tr>
          <th>Batch</th>
          <td>{{ user.batch }}</td>
        </tr>
        <tr>
          <th>Branch</th>
          <td>{{ user.branch }}</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    $('.nav-tabs>li.registrations').addClass('active').siblings().removeClass('active');
  </script>
{% endblock %}
