{% extends "admin/base.html" %}

{% block title %}
    Registrations
{% endblock %}

{% block content %}
    <ol class="breadcrumb">
        <li><a href="http://techvaganza.org">Main Site</a></li>
        <li><a href="{{ url_for('adminDashboard') }}">Home</a></li>
        <li><a href="{{ url_for('adminDashboardRegistrations') }}">Registration</a></li>
        <li class="active">View Registration</li>
    </ol>

    <h1>View Registration</h1>
    <hr>
    <table class="table">
        <tr>
            <td>Name:</td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td>Cell:</td>
            <td>{{ user.cell }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>College:</td>
            <td>{{ user.college }}</td>
        </tr>
        <tr>
            <td>Batch:</td>
            <td>{{ user.batch }}</td>
        </tr>
        <tr>
            <td>Branch:</td>
            <td>{{ user.branch }}</td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td>{% filter upper %}{{ user.gender }}{% endfilter %}</td>
        </tr>
    </table>
{% endblock %}
