{% extends "base.html" %}

{% block meta_description %}
  {{ event.description }}
{% endblock %}

{% block title %}
  {{ event.title }}
{% endblock %}

{% block content %}

  <div class="wrapper">
    <div class="register-background">
      <div class="filter-black"></div>
      <div class="container">
        <div class="col-md-12">
          <div class="housekeeping-well">

            <ol class="breadcrumb" style="background-color: rgba(0, 0, 0, 0.1); padding: 1%;">
              <li><a href="{{ url_for('general.index') }}">Home</a></li>
              <li><a href="{{ url_for('general.events') }}">Events</a></li>
              <li class="active">{{ event.title }}</li>
            </ol>

            <div style="background-color: rgba(0, 0, 0, 0.1); padding: 1%;">
              <h2 class="animated flip" style="color: #51658e">{{ event.title }}</h2>
            </div>

            <hr>
            <section class="animated slideInUp" style="background-color: rgba(0, 0, 0, 0.1); padding: 1%;">
              {{ event.body | safe }}
            </section>

            <br>
            <div class="text-center">
              <div class="text-center">
                <a class="btn btn-danger register">
                  {% if not registered %}
                    Register
                    {% else %}
                    Unregister
                  {% endif %}
                </a>
              </div>
            </div>

            <div>
              {% include '_snippets/_disqus.html' %}
            </div>

          </div>
        </div>
      </div>

      <!-- Bottom Text -->
      <br><br><br><br><br>
      <div class="footer register-footer text-center">
        <h6 style="color: white;">&copy; Techvaganza 2k16</h6>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src={{ url_for('static', filename='js/ct-paper.js') }}></script>
  <script>
    $('.register').click(function() {
      $.post({
        url: window.location.pathname,
        success: function(response) {
          if (response.success) {
            if (response.registered) {
              $('.register').text('Unregister');
            } else {
              $('.register').text('Register');
            }
          } else {
            if (response.login_required) {
              window.location = '/login/?next=' + window.location.pathname;
            } else {
              console.log(response);
            }
          }
        }
      })
    });
  </script>
{% endblock %}
