<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> {% block title %}{% endblock %} | Techvaganza 2k16</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/material-kit.css') }}>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
  {% block styles %}{% endblock %}
</head>

<body>
<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href={{ url_for('index') }}>Techvaganza 2k16</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ url_for('events') }}" class="btn" target="_blank">
            Events
          </a>
        </li>
        <li>
          <a href="{{ url_for('housekeeping', page = 'about') }}" target="_blank" class="btn">
            About Us
          </a>
        </li>
        <li>
          <a href="{{ url_for('housekeeping', page = 'contact') }}" target="_blank" class="btn">
            Contact Us
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn">
            Login
          </a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank" class="btn btn-simple">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/" target="_blank" class="btn btn-simple">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/" target="_blank" class="btn btn-simple">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="wrapper">
  {% block content %}{% endblock %}
</div>

<script type="text/javascript" src={{ url_for('static', filename='js/jquery.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/bootstrap-3.3.5.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/material.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/nouislider.min.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/bootstrap-datepicker.js') }}></script>
<script type="text/javascript" src={{ url_for('static', filename='js/material-kit.js') }}></script>
{% block scripts %}{% endblock %}
</body>
</html>
