<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/comingsoon.css') }}>
</head>
<body>
  	<div class="canvas">
		<div class="streak"></div>
		<div class="strawberry-container">
		  	<p style="font-weight: bold;">Techvaganza</p>
		</div>
		<div class="coming-soon">
		  	<p>Coming Soon</p>
		</div>
	</div>
	<script type="text/javascript" src={{ url_for('static', filename='js/jquery-3.0.0.min.js') }}></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
	<script type="text/javascript" src={{ url_for('static', filename='js/splittext.js') }}></script>
	<script type="text/javascript" src={{ url_for('static', filename='js/comingsoon.js') }}></script>
</body>
</html>