<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
  {% assets 'landing_css' %}
    <link rel="stylesheet" href="{{ ASSET_URL }}"/>
  {% endassets %}
</head>
<body>
<div>
  <section id="section1" data-0="transform:scale(1);opacity:1;" data-75p="transform:scale(.7);opacity:0;">
    <div class="logo">
      <h2>techvaganza</h2>
      <h2>2k16</h2>
      <a href="#section2" data-menu-top="600"><i class="fa fa-chevron-circle-down bounce fa-3x" aria-hidden="true"></i></a>
    </div>
  </section>

  <section id="section2" data-100="transform:translateY(100%) scale(1);"
           data-600="transform:translateY(0%) scale(1);opacity:1;"
           data-1100="transform:translateY(0%) scale(.7); opacity:0;">
    <h1>Page 2</h1>
  </section>

  <section id="section3" data-700="transform:translateY(100%) scale(1);"
           data-1200="transform:translateY(0%) scale(1);opacity:1;"
           data-1700="transform:translateY(0%) scale(.7); opacity:0;">
    <h1>Page 3</h1>
  </section>

  <section id="section4" data-1300="transform:translateY(100%) scale(1);"
           data-1800="transform:translateY(0%) scale(1);opacity:1;"
           data-2500="transform:translateY(0%) scale(.7); opacity:0;">
    <h1>Page 4</h1>
  </section>

  <section id="section5" data-1900="transform:translateY(100%) scale(1);"
           data-2400="transform:translateY(0%) scale(1);opacity:1;">
    <h1>Page 5</h1>
  </section>

</div>
{% assets 'landing_js' %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</body>
</html>
