<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
<div id="skrollr-body">
    <section id="section1" data-0="transform:scale(1);opacity:1;" data-500="transform:scale(.7);opacity:0;">
        <div class="product-wrap">
            <h2>Techvaganza 2k16</h2>
            <a href="#section2"><i class="fa fa-chevron-circle-down bounce fa-3x" aria-hidden="true"></i></a>
        </div>
    </section>

    <section id="section2" data-100="transform:translateY(100%) scale(1);" data-600="transform:translateY(0%) scale(1);opacity:1;" data-1100="transform:translateY(0%) scale(.7); opacity:0;">
        <h1>Page 2</h1>
    </section>

    <section id="section3" data-700="transform:translateY(100%) scale(1);" data-1200="transform:translateY(0%) scale(1);opacity:1;" data-1700="transform:translateY(0%) scale(.7); opacity:0;">
        <h1>Page 3</h1>
    </section>

    <section id="section4" data-1300="transform:translateY(100%) scale(1);" data-1800="transform:translateY(0%) scale(1);opacity:1;" data-2500="transform:translateY(0%) scale(.7); opacity:0;">
        <h1>Page 4</h1>
    </section>

    <section id="section5" data-1900="transform:translateY(100%) scale(1);" data-2400="transform:translateY(0%) scale(1);opacity:1;">
        <h1>Page 5</h1>
    </section>

</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
<script type="text/javascript" src="http://maryvilleartdesign.com/cdn/skrollr.menu.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      var s = skrollr.init();
      skrollr.menu.init(s);
    });
</script>

</body>
</html>