{% extends "base.html" %}

{% block title %}
  Register
{% endblock %}

{% block styles %}
  <style>
    body .header-filter:after {
      background: rgba(101, 47, 142, 0.64);
      background: linear-gradient(45deg, rgba(101, 47, 142, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%);
    }
  </style>
{% endblock %}

{% block content %}
  <div class="header header-filter"
       style="background-image: url('../static/img/bg.jpeg'); background-size: cover; background-position: top center;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="card card-signup">
          <form class="form" method="POST" action="">
            <div class="header header-primary text-center">
              <h4 style="color: white;">Sign Up</h4>
              <div class="social-line">
                <a href="#" class="btn btn-just-icon">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#" class="btn btn-just-icon">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" class="btn btn-just-icon">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
            <p class="text-divider">Or Be Classical</p>
            <div class="content">
              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">face</i>
										</span>
                <input type="text" class="form-control" placeholder="Full Name...">
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">email</i>
										</span>
                <input type="text" class="form-control" placeholder="Email...">
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">lock_outline</i>
										</span>
                <input type="password" placeholder="Password..." class="form-control"/>
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">phone</i>
										</span>
                <input type="password" placeholder="Phone..." class="form-control"/>
              </div>

              <div class="radio" style="padding: 0 50px 25px 75px;">
                <label style="float: left">
                  <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                  Male
                </label>
                <label style="float: right">
                  <input type="radio" name="optionsRadios"><span class="circle"></span><span class="check"></span>
                  Female
                </label>
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">school</i>
										</span>
                <input type="password" placeholder="College..." class="form-control"/>
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">school</i>
										</span>
                <input type="password" placeholder="Branch..." class="form-control"/>
              </div>

              <div class="input-group">
										<span class="input-group-addon">
											<i class="material-icons">school</i>
										</span>
                <input type="password" placeholder="Batch..." class="form-control"/>
              </div>

              <div class="checkbox text-center">
                <label>
                  <input type="checkbox" name="optionsCheckboxes" checked>
                  Subscribe to newsletter
                </label>
              </div>
            </div>
            <div class="footer text-center">
              <div class="input-group" style="width: 100%;">
                <button class="btn btn-success btn-raised btn-round btn-lg">
                  <i class="material-icons">thumb_up</i> Register!
                </button>
              </div>
              <a href="#" class="btn btn-primary btn-wd btn-lg">Forgot Password?</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="copyright text-center">
        &copy; Techvaganza 2k16
      </div>
    </div>
  </footer>

{% endblock %}

{% block scripts %}
  <script>
    $('body').addClass('signup-page');
  </script>
{% endblock %}
